.AsideMenu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    &__Item{
        border-bottom: 1px solid #999;
        color: #ccc;
        list-style: none;
        a{
            text-decoration: none;
            display: block;
            padding: 10px 15px;
            color: white;
        }
    }
}